// Colors
$main-bg: linear-gradient(to top left, rgba(#eeff00,.35), rgba(#00fff2, .35)), rgba(#000,.7);
$c-primary: #4e9168;
$bg-header: rgba(#000,.3);
$c-main: #fff;
$c-link: #eef;
$c-link-hover: #fff;
$c-link-active: #fff;
$c-link-visited: #eee;
$c-btn: #fff;
$c-btn-hover:darken(#000,50%);
$c-btn-active:darken(#000,50%);
$bg-btn: transparent;
$bg-btn-hover: #fff;
$bg-btn-active: rgba(#fff,.5);
$c-btn-primary: #000;
$c-btn-primary-hover: #000;
$c-btn-primary-active: #000;
$bg-btn-primary:rgba(#fff,.8);
$bg-btn-primary-hover:#fff;
$bg-btn-primary-active:rgba(#fff,.7);
$border-btn: 1px solid #fff; 
$border-btn-primary: 1px solid #000; 
$border-btn-inverse: 1px solid #fff; 
$c-headers: $c-main;

// Typography
$font-style: normal;
$font-variant: normal;
$font-weight:300;
$font-size: 16px;
$line-height:21px;
$font-family: 'Montserrat', sans-serif;
$font-family-h: 'Comfortaa', cursive;
$font: $font-style $font-weight #{$font-size}/#{$line-height} $font-family;