// Colors
$main-bg: #383838;
$c-primary: #4e9168;
$bg-header: #252525;
$c-main: #eee;
$c-link: #eef;
$c-link-hover: #eee;
$c-link-active: #eee;
$c-link-visited: #eee;
$c-btn: #eee;
$c-btn-hover:darken(#252525,50%);
$c-btn-active:darken(#252525,50%);
$bg-btn: #252525;
$bg-btn-hover: rgba(#eee,.8);
$bg-btn-active: rgba(#eee,.5);
$c-btn-primary: #000;
$c-btn-primary-hover: #252525;
$c-btn-primary-active: #252525;
$bg-btn-primary:rgba(#eee,.8);
$bg-btn-primary-hover:#eee;
$bg-btn-primary-active:rgba(#eee,.7);
$border-btn: 0;/*1px solid #eee */ 
$border-btn-primary: 0;/*1px solid #252525 */ 
$border-btn-inverse: 0;/*1px solid #eee */ 
$c-headers: $c-main;

// Typography
$font-style: normal;
$font-variant: normal;
$font-weight:300;
$font-size: 16px;
$line-height:21px;
$font-family: 'Montserrat', sans-serif;
$font-family-h: 'Comfortaa', cursive;
$font: $font-style $font-weight #{$font-size}/#{$line-height} $font-family;