@import '../../sass/variables';
@import '../../sass/mixin';

:host ::ng-deep .recipe-detail {
    
    .recipe-rating {
        font-size:1rem;
        text-align:center;
        [class*="fa"]{
            margin: 0 .2em;
            display:inline-block;
        }
    }
}