<app-search-recipes></app-search-recipes>

<h1 *ngIf="loc=='/recipes'" class="center-text page-title">All Recipes</h1>
<h1 *ngIf="loc=='/my-recipes'" class="center-text page-title">My Recipes</h1>
<ng-template #norecipes>No recipes yet.</ng-template>
<ol class="recipes-list" *ngIf="recipes?.length; else norecipes">
  <li class="recipes-list__header">
    <div style="padding: 8px 15px">
      Recipe name
    </div>
  </li>
  <li *ngFor="let recipe of recipes" class="recipe" value="{{recipe.id}}">
    <a routerLink="/detail/{{recipe.id}}" class="btn">
      <span class="recipe-rating" attr.data-rating="{{recipe.rating}}"></span>
      <span class="createdAt">{{recipe.createdAt | createdAt}}</span> <span class="recipe-name">{{recipe.name}}</span>
    </a>
    <button *ngIf="(auth.isAuthenticated && recipe.authorId == auth.user[0].id) || ( auth.isAuthenticated &&auth.user[0].id == 1)" class="btn--delete  btn--transparent" title="delete recipe"
      (click)="delete(recipe)">
      <i class="fas fa-trash"></i>
    </button>
  </li>
</ol>
<h2 *ngIf="auth.isAuthenticated && loc == '/my-recipes'" class="center-text">Add recipe</h2>
<form ngNativeValidate *ngIf="(auth.isAuthenticated && loc == '/my-recipes') || (auth.isAuthenticated &&auth.user[0].id == 1)" class="add-recipe-form" #addRecipe>
  <label class="input-box">
    <input type="text" #recipeName required />
    <span class="label-text">Recipe name</span>
  </label>
  <h3><i class="fas fa-tint"></i>&nbsp;&nbsp;&nbsp;Flavours:
    <button (click)="addFlavour()" class="add-flavour btn--transparent">
      <i class="fas fa-plus-circle"></i>
    </button>
  </h3>
  <fieldset class="flavours">
    <div class="flavour-row">
      <button class="btn--clear btn--removeFlavour">
        <i class="far fa-times-circle"></i>
      </button>
      <label class="input-box">
        <input class="flavourName" required />
        <span class="label-text">Name</span>
      </label>
      <label class="input-box range-box">
        <span class="range-value">0%</span>
        <input class="flavourProportions filled" value="0" type="range" min="0" max="20" step="0.5" required />
        <span class="label-text">Proportions</span>
      </label>
    </div>
  </fieldset>
  <!-- (click) passes input value to add() and then clears the input -->
  <button type="submit" class=" btn--inverse" (click)="add(addRecipe, recipeName.value);">
    <i class="fas fa-plus"></i> Add recipe
  </button>
</form>