<app-search-recipes></app-search-recipes>

<h1 *ngIf="loc=='/recipes'" class="center-text page-title">All Recipes</h1>
<h1 *ngIf="loc=='/my-recipes'" class="center-text page-title">My Recipes</h1>

<ol class="recipes-list">
  <li class="recipes-list__header">
    <div style="padding: 8px 15px">
      Recipe name
    </div>
  </li>
  <li *ngFor="let recipe of recipes" class="recipe" value="{{recipe.id}}">
    <a routerLink="/detail/{{recipe.id}}" class="btn">
      <span class="recipe-rating" attr.data-rating="{{recipe.rating}}"></span> {{recipe.name}} 
    </a>
    <button *ngIf="auth.isAuthenticated && recipe.authorId == auth.user[0].id" class="btn--delete" title="delete recipe" (click)="delete(recipe)"><i class="fas fa-trash"></i></button>
  </li>
</ol>
<form *ngIf="auth.isAuthenticated && loc == '/my-recipes'"  class="add-recipe-form" #addRecipe>
  <h2 class="center-text">Add recipe</h2>
  <label>Recipe name:
    <input #recipeName />
  </label>
    <h3>Flavours: <button (click)="addFlavour()" class="add-flavour"><i class="fas fa-plus-circle"></i></button></h3>
    <fieldset class="flavours">
    <div class="flavour-row">
      <label>Name:
        <input class="flavourName" />
      </label>
      <label>Proportions:
        <input class="flavourProportions" />
      </label>
    </div>
  </fieldset>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(addRecipe, recipeName.value);">
      <i class="fas fa-plus"></i> Add recipe
  </button>
</form>