@import '../../sass/variables';
@import '../../sass/mixin';

:host ::ng-deep .recipes-list {
    margin:0 0 55px;
    padding:0;
    padding-left:35px;
    counter-reset: recipe;
    list-style:none;
    &__header {
        list-style:none;
        position:relative;
        font-family:$font-family-h;
        &:before {
            content:"id";
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            right:calc(100% + 15px);
            font-family:$font-family-h;
        }
    }
    .recipe {
        margin:0;
        padding:0;
        background: rgba(#000,.3);
        position:relative;
        
        &:before {
            counter-increment:recipe;
            content:attr(value);
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            right:calc(100% + 15px);
        }
        &-name {
            margin:0;
            padding:0;
        }
        [class*="btn"] {
            display:flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            padding:8px 15px;
            border-bottom:0;
            font-size:1.2rem;
        }
        &-rating {
            font-size:.7rem;
            [class*="fa"]{
                margin: 0 .2em;
                display:inline-block;
            }
        }
        .createdAt {
            font-size:.7em;
            letter-spacing:1px;
            display:block;
            padding:0 0 5px;
        }
        .btn--delete {
            position:absolute;
            right:0;
            border-width:1px;
            z-index:1;
            height:100%;
            padding:0;
            width:50px;
            display:flex;
            flex-flow: row nowrap;
            align-items:center;
            justify-content: center;
            color:#9c2929;
            top:0;
            border:0;
            &:hover {
                background: transparent;
                color:#fff;
            }
        }
        &:last-child {
            border-bottom: $border-btn-inverse;
        }
    }
}

:host ::ng-deep .add-recipe-form {
    background:rgba(#000, .3);
    padding: 15px;
    margin: 15px auto;
    h3 {
        margin:25px 0;
        padding: 0;
        display:flex;
        align-items:center;
    }
    .add-flavour {
        color:$c-primary;
        border:0;
        padding:0;
        font-size:2rem;
        line-height:2rem;
        margin: 0 0 0 15px;
        &:hover, &:active {
            background: transparent;
            color:#fff;
        }
    }
    .flavours {
        border:0;
        outline:0;
        margin: 10px 0;
        padding:0;
    }
    .flavour-row {
        display:flex;
        flex-flow:row nowrap;
        align-items:center;
        margin: 0 0 25px;
        label {
            display:block;
            flex: 1 1 50%;
        }
        .input-box {
            margin-right: 1em;
        }
        .range-box {
            margin-left:1em;
            margin-right:0;
        }
        
        @include b(mobile) {
            display: block;
            background: #333;
            padding: 15px;
            .input-box {
                margin-right: 0;
            }
            .range-box {
                margin-top: 15px;
                margin-left: 0;
            }
        }
    }
    [type="submit"]{
        margin: 0 auto;
    }
}