@import '../sass/variables';
@import '../sass/mixin';

.main {
    position: relative;
    margin: 75px 0 auto;
    padding: 0;
}

.header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $bg-header;
    background:url(https://drberanimbovaping.files.wordpress.com/2015/09/smoke-background-wallpaper.jpg?w=917&h=796) top no-repeat;
    background-attachment:fixed;
    background-size: cover;
    z-index: 99999;
    &:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:$bg-header
    }
    .logo{
        color:$c-main;
        font-size:1.4em;
        text-decoration:none;
        svg {
            color:$bg-btn-primary;
            transition:all .15s ease-in-out;
        }
        &:hover {
            svg {
                color:#fff;
            }
        }
    }
    &-nav {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height:100%;
        position:relative;
        padding:0 15px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li {
                margin: 0;
                padding: 0;
                [class*="btn"] {
                    border-right:0;
                }
                &:last-child {
                    border-right: $border-btn-primary;
                }
            }
        }
    }
}

.footer {}