<!--Main Navigation-->
<header class="header">
    <nav class="header-nav">
        <a class="logo" routerLink="/"><i class="fas fa-eye-dropper"></i>&nbsp;{{title}}</a>
        <ul>
            <li class="nav-item" >
                <a class="btn--primary" routerLink="/dashboard"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
            </li>
            <li class="nav-item" >
                <a class="btn--primary" routerLink="/recipes"><i class="fas fa-book"></i>&nbsp;&nbsp;Recipes</a>
            </li>
        </ul>
        
        <a class="btn--primary" routerLink="/login"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Login</a>
    </nav>
</header>
<!--Main Navigation-->
<div></div>
<!--Main Content-->
<main class="main">
    <div class="container">

        <router-outlet></router-outlet>

    </div>
</main>
<!--Main Content-->


<!--Footer info-->
<footer>
<p class="center-text"><small>&copy; <b>eliquor</b> - 2018. Designed and developed by <a href="http://github.com/drudro" target="_blank">DruDro</a></small></p>    <!-- <app-messages></app-messages> -->

</footer>
<!--Footer info-->