<!--Main Navigation-->
<header class="header">
    <nav class="header-nav container">
        <a class="logo" routerLink="/"><i class="fas fa-eye-dropper"></i>&nbsp;{{title}}</a>
        <ul>
            <li class="nav-item" >
                <a class="btn" routerLink="/dashboard"><i class="fas fa-home"></i>Home</a>
            </li>
            <li class="nav-item" >
                <a class="btn" routerLink="/recipes"><i class="fas fa-book"></i>Recipes</a>
            </li>
            <li class="nav-item" >
                <a class="btn" *ngIf="auth.isAuthenticated" routerLink="/my-recipes"><i class="fas fa-archive"></i>My Recipes</a>
            </li>
        </ul>
            <button
              class="btn btn-margin"
              *ngIf="!auth.isAuthenticated"
              routerLink="/login">
              <i class="fas fa-sign-in-alt"></i>Log In
            </button>
      
            <button
              class="btn btn-margin"
              *ngIf="auth.isAuthenticated"
              (click)="auth.logout()">
              <i class="fas fa-sign-out-alt"></i>Log Out
            </button>
    </nav>
</header>
<!--Main Navigation-->
<div></div>
<!--Main Content-->
<main class="main">
    <div class="container">

        <router-outlet></router-outlet>
        <!-- <app-messages></app-messages> -->
    </div>
</main>
<!--Main Content-->


<!--Footer info-->
<footer>
<p class="center-text"><small>&copy; <b>eliquor</b> - 2018. Designed and developed by <a href="http://github.com/drudro" target="_blank">DruDro</a></small></p>   


</footer>
<!--Footer info-->