@import '../../sass/variables';
@import '../../sass/mixin';
.top-recipes {
    display:flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content:stretch;
    .top-recipe {
        flex: 1 0 20%;
        min-height:75px;
        display:flex;
        flex-flow:column nowrap;
        align-items: center;
        justify-content: center;
            font-size:1.4em;
            line-height:1.2em;
            min-width:25%;
            @include b(tablet){
                min-width:50%;
            }
            @include b(mobile){
                min-width:100%;
            }
    }
}