@import '../../sass/variables';
@import '../../sass/mixin';

#search-component {
    margin: 0 auto 75px;
    position:relative;
    @include b(mobile){
        margin: 0 0 25px;
    }
}
#search-box {
    margin: 0 auto 0;
}
#search-box ~ .btn--clear {
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:40px;
}
.search-result {
    margin:0;
    padding:0;
    background: $bg-btn;
    list-style:none;
    position:absolute;
    width:100%;
    z-index:2;
    box-shadow: 0 2px 5px 0 rgba(#000, .3);
    &__header {
        list-style:none;
        position:relative;
        &:before {
            content:"id";
            position:absolute;
            top:8px;
            right:calc(100% + 5px);
        }
    }
    .recipe {
        margin:0;
        padding:0;
        &-name {
            margin:0;
            padding:0;
        }
        [class*="btn"] {
            display:flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            padding:8px 15px;
            border-bottom:0;
        }
        &:last-child {
            border-bottom: $border-btn-inverse;
        }
    }
}